<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.clond.provider8001.Mapper.DeptMapper">
    <!-- 通过ID查询一个用户 -->
    <select id="findAll" resultType="com.clond.common.Entity.Dept">
        SELECT * FROM dept;
    </select>
    <insert id="addDept" parameterType="com.clond.common.Entity.Dept" >
        INSERT INTO dept VALUES (#{deptNo},#{deptName},#{dbSource});
    </insert>
</mapper>